<%- include('partials/head')%>
<main>

    <h1 class="page-title">EDIT COMMENT</h1>
    
    <div id="edit-post-container" class="comment-input-div">

        <h2><%= post.authorName %></h2>
        <form action="/cars/<%= carId %>/posts/<%= post._id %>/?_method=PUT" method="POST">
            
            <label for="post-body">Content</label><br>
            <textarea name="post-body" id="post-body" cols="30" rows="10"><%= post.body %></textarea><br>
            
            <button type="submit" class="submit-btn">Submit</button>
            
        </form>
        
    </div>
</main>
<%- include('partials/foot')%>