<%- include('partials/head')%>

<h1>EDIT PAGE</h1>

<h2><%= post.authorName %></h2>
<form action="/cars/<%= carId %>/posts/<%= post._id %>/?_method=PUT" method="POST">

    <label for="post-body">Content</label><br>
    <textarea name="post-body" id="post-body" cols="30" rows="10"><%= post.body %></textarea><br>
    
    <button type="submit">Submit</button>

</form>

<%- include('partials/foot')%>