<%- include('partials/head.ejs')%>

<main>

    <div class="page-title">
        <h1>Nick's Car Blog</h1>
    </div>
        
    <% allCars.forEach(x=>{ %>
        <a href='/cars/<%= x._id%>' class="home-car">
            <div>
                <img src="<%= x.pictureUrl %>" alt="">
                <div class="home-car-text-box">
                    <h3 class=""><%= x.name%></h3>
                </div>
            </div>
        </a>
    <% }) %>

</main>

<%- include('partials/foot.ejs')%>