<%- include('partials/head.ejs')%>

<div class="main">

    <div class="page-title">
        <h1>Nick's Car Blog</h1>
    </div>
        
    <% allCars.forEach(x=>{ %>
        <a href='/cars/<%= x._id%>'>
            <div class="home-car">
                <img src="<%= x.pictureUrl %>" alt="">
                <h1 class="text-center"><%= x.name%></h1>
            </div>
        </a>
    <% }) %>

</div>

<%- include('partials/foot.ejs')%>