<%- include('partials/head.ejs')%>
<div class="main">

    <div class="page-title">
        <h1><%= car.name %></h1>
    </div>

    <!-- display car -->
    <div class="show-car">

        <img src=<%= car.pictureUrl %> alt="">
        <p><%= car.description %></p>
        
        
        <!-- comment input -->
        
        <% if (user && car.userId.toString() === user.id){ %>
            
            <form action="/cars/<%= car._id%>/?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
                <a href="/cars/<%= car._id%>/edit" >Edit</a>
            </form>
            
            <% }%>
            
        </div>
        
        <!-- make post -->
        
        <% if (user){ %>

            <div class="comment-input-div">
            
                <h2><%= user.name %></h2>

                <form action="/cars/<%= car._id%>/posts" method="POST">
                    
                    <label for="car-description">Comment</label><br>
                    <textarea name="post-body" id="post-body" cols="30" rows="10"></textarea><br>

                    <input type="hidden" name="author-name" value=<%= user.name %> />
                    <input type="hidden" name="userId" value=<%= user.id %> />
                    
                    <button type="submit">Submit</button>
                    
                </form>
            
            </div>

        <% }%>
        
    <!-- show posts -->
    <div class="comments-container">
        <h2>Comments</h2>
        <% allPosts.forEach(x=>{ %>
            <div>
                <h1><%= x.authorName %></h1>
                <p><%= x.body %></p>
                <% if (user && x.userId === user.id) { %>
                    <form action="/cars/<%= car._id%>/posts/<%= x._id %>?_method=DELETE" method="POST">
                        <button type="submit" >Delete</button>
                        <a href="/cars/<%= car._id%>/posts/<%= x._id %>/edit" >Edit</a>
                    </form>
                <% } %>
            </div>
        <% }) %>
    </div>  
</div>

<%- include('partials/foot.ejs')%>
            